@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:wght@200&display=swap');
body{
    font-family:'Poppins', sans-serif;
    background-color: #ececec;
}
.box-area{
    width: 930px;
}
.btn{
    background-color: #ffe135;
}
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
@media only screen and(max-width:768px){
    .box-area{
        margin: 0 10px;

    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}