<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shipper/css/main/bootstrap.min.css"/>
    <link rel="stylesheet" href="shipper/css/main/all.min.css"/>
    <link rel="stylesheet" href="shipper/css/login/login.css">
    <title>Login Page</title>
</head>
<body>
    <!----Main---->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounder-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #961E3A ;">
                <div class="featured_images mb-3">
                    <img src="shipper/images/shipper-la-gi1.png" class="img-fluid" style="width: 250px;" alt="Shipper Picture">
                </div>
                <small class="text-black text-wrap text-center" style="font-family: 'Courier New', Courier, monospace;" style="width: 17rem;">Become one of our partner and start shipping today. </small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Hello, Shipper </h2>
                        <p>Please sign in</p>
                    </div>
                    <!----Form Start---->
                    <form action="#">
                        <div class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>    
                    <div class="input-group mb-3">
                        <input type="text" name= "shipper_username" class="form-control form-control-lg bg-light fs-6" placeholder="Username">
                    </div>
                    <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>   
                    <div class="input-group mb-3">
                        <input type="text" name= "shipper_password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <a href="/dashboard" class="btn btn-lg w-100 fs-6" type="submit" >Login</a>
                    </div>
                    <div class="row">
                        <small>Don't have an account?<a href="/signup">Sign Up</a></small>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>