<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="shipper/css/dashboard_shipper/dashboard.css">

	<title>ShipperHub</title>
</head>
        <%- include('../partials/header.ejs') %>
<body>
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Orders</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Orders</th>
								<th>Date Order</th>
								<th>Status</th>
                                <th>Distribution Hub</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/people.png">
									<a href="/order">John Doe</a>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
                                <td>Distribution Hub A</td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<a href="/order">John Doe</a>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
                                <td>Distribution Hub A</td>
                                
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<a href="/order">John Doe</a>
								</td>
								<td>01-10-2021</td>
								<td><span class="status process">Process</span></td>
                                <td>Distribution Hub A</td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<a href="/order">John Doe</a>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
                                <td>Distribution Hub A</td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<a href="/order">John Doe</a>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
                                <td>Distribution Hub A</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src="shipper/js/dashboard/js_dashboard.js"></script>
</body>
</html>