<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer's Signup</title>
    <link rel="stylesheet" href="shipper/css/main/all.min.css"/>
    <link rel="stylesheet" href="shipper/css/main/bootstrap.min.css"/>
    <link rel="stylesheet" href="shipper/css/login/login.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header class="d-flex justify-content-center "><h1>Sign Up Now</h1></header>
<body>
    <!----Main---->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounder-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #961E3A ;">
                <div class="featured_images mb-3">
                    <img src="shipper/images/shipper-la-gi1.png" class="img-fluid" style="width: 250px;" alt="Shipper Picture">
                </div>
                <small class="text-black text-wrap text-center" style="font-family: 'Courier New', Courier, monospace;" style="width: 17rem;">Become one of our partner and start shipping today. </small>
            </div>
            <!--form start--> 
            <div class="col-md-6 right-box">
            <form action="#">
                <!--Avatar Start-->
                    <div class="img-users mb-3 d-flex justify-content-center align-items-center">
                        <img src="shipper/images/avatar.jpg" alt="Avatar" id="photo">
                        <input name="Avatar"type="file" id="file">
                        <label for="file" id="uploadbtn"><i class="fas fa-camera"></i></label>
                    </div>
                    <!---Alert---->
                    <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>   
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                    <input name="Username" type="text" class="form-control" placeholder="Username">
                    <p class="text-left">Contains only letters (lower and upper case) and digits, has a length from 8 to 15 characters</p>
                </div>
                <!---Alert---->
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>  
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input name="Password" type="text" class="form-control" placeholder="Password">
                    <p class="text-left">Contains at least one upper case letter, at least one lower case letter, at least one digit, at least one special letter in the set !@#$%^&*, has a length from 8 to 20 characters.</p>
                </div>
                <!---Alert---->
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>    
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input name="Password Confirmation" type="text" class="form-control" placeholder="Password Confirmation">
                </div>
                <!---Alert---->
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>    
                <div class="dropdown mb-3">
                    <label for="Distribution Hub">Choose a distribution Hub:</label>
                    <select id="hubs" name="hubs">
                      <option value="Distribution Hub A">Distribution Hub A</option>
                      <option value="Distribution Hub B">Distribution Hub B</option>
                      <option value="Distribution Hub C">Distribution Hub C</option>
                      <option value="Distribution Hub D">Distribution Hub D</option>
                    </select>
                  </div>
                <div class="d-grid">
                    <a href="/"  class="btn">Signup Now</a>
                    <p class="text-center text-muted">By signing up, I accept that I have read and agreed to Union's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> which outlines how Union collects, uses, and discloses my personal data, as well as my legal rights.</p>
                    <p class="text-center">
                        Already have an account? <a href="/">Login Now</a>
                    </p>
                </div>
            </form>
        </div>
            <!--form close--> 
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="public/shipper/js/signup/script.js"></script>
<script src="public/shipper/js/signup/bootstrap.bundle.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>       
</html>